*{
    box-sizing: border-box;
}
body{
  margin: 0%;
}
header{
    min-height: 100px;
    background-color:rgb(88, 87, 87) ;
    text-align: center;
}
.container{
    min-height: 600px;
    display: flex;
}
aside{
    width: 150px;
    background-color: #5c5a5a;
}
main{
    flex: 1;
     background-color:rgb(179, 176, 176) ;
     text-align: center;     
}
p{
    text-align: justify;
    margin-left: 10px;
}
li{
    
    text-align: justify;
    margin-left: 20px;
}
footer{
    min-height: 200px;
    background-color:rgb(90, 82, 82) ;
}