*{
    box-sizing: border-box;
}
body{
    background-color: #CCC;
}
fieldset{
   width: 150px; 
   background-color: #CCCC;
}
.usuario,senha1{
    margin-top: 20px;
}
.enviar:hover{
    color: rgb(16, 115, 202);
    
}
.enviar{
    margin-right: 125px;
}