*{
    box-sizing: border-box;
}
@keyframes exemplo{
    0%{background-color:burlywood; top: 0px; left: 0px;}
    25%{background-color: aqua;top: 0px; left: 200px;}
    50%{background-color:black;top: 200px; left: 200px;}
    75%{background-color:chartreuse;top: 200px; left: 0px;}
    100%{background-color: burlywood;top: 0px; left: 0px;}
}
body{
    margin: 0;
}
#exemplo{
    width: 250px;
    height: 250px;
    background-color: aqua;
    position: absolute;
    border-radius: 120px;
    margin: 50px;
  /*aplicando a animação*/
  animation-name:exemplo;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite; /*para colocar em lup usamos o palavra "infinite"*/
}
p{
    position: absolute;
    text-align: center;
    margin-top: 110px;
    margin-left: 55px;
    color: aliceblue;
    font-size: 20px;
}