:root{
--bg-colo:#CCC;
--bg-second:#FFF;
--font-size:20px;
--margin-text:25px;
   
}
body{
    background-color:var(--bg-colo);
    font-size: var(--font-size);
    margin: var(--margin-text);
}
h1{
    color:var(--font-color, #0000FF);
}
.container{
    background-color:var(--bg-second);
    color:var(--font-color);
}

/*usando o @media dentro da Var:*/
@media(max-width:468px){
    :root{
        --font-size:15px;
        --bg-color:rgba(53, 230, 53, 0.884);
        --bg-second2:#977d0a;
        
    }
    body{
        background-color:var(--bg-color,#CCC);
    }
    .container{
        color:var(--bg-second2);
        border:1px solid #000;
    }
    p{
        margin:20px;
        text-align:justify;
    }
  
}