*{
    box-sizing:border-box;
}

body{

    margin:0px;
}

fieldset{

    padding:10px;
    margin:15px;
    background-color:#EEE;
    margin-bottom:20px;
    border:2px solid #FF0000;
    
}

legend{

    padding:5px;
    background-color:#d87f0c;
    color:#ffe4c4;
}

legend:hover{
    background-color:rgba(187, 146, 58, 0.63);
}

.botao:hover{

    background-color:#ffe4c4;
}